/**
@author Vinod Kumar
Style class for progress bars
*/
.container {
	width: 400px;
	border: 1px solid #ddd;
	border-radius: 5px;
	overflow: hidden;
	display: inline-block;
	margin: 0px 10px 5px 5px;
	vertical-align: top;
}

.progressbar {
	color: #0063a6;
	font-size: .6em;
	line-height: 1.5em;
	text-indent: .5em;
	width: 15em;
	height: 2.8em;
	border: 1px solid #0063a6;
	background: #fff;
}

.percentage {
	float: left;
	text-align: center;
	margin-left: 195px;
	margin-top: -38px;
	position: relative;
	display: block;
	color: #000000;
}